/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.hfc-overlay-hugeinc {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}