.hfc-navbar {
position:relative;
z-index:999;
}
.hfc-navbar,
.hfc-navbar ul,
.hfc-navbar ul li,
.hfc-navbar ul li a,
.hfc-navbar #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.hfc-navbar:after,
.hfc-navbar > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.hfc-navbar #menu-button {
  display: none;
}
.hfc-navbar {
  background: #333333;
}
.hfc-navbar > ul > li {
  float: none;
  display:inline-block;
}
.hfc-navbar.align-center > ul {
  font-size: 0;
  text-align: center;
}
.hfc-navbar.align-center > ul > li {
  display: inline-block;
  float: none;
}
.hfc-navbar.align-center ul ul {
  text-align: left;
}
.hfc-navbar.align-right > ul > li {
  float: right;
}
.hfc-navbar > ul > li > a {
  padding: 17px;
  font-size: 16px;
  text-decoration: none;
  line-height:1.6;
  color: #dddddd;
  font-weight: 400;
}
.hfc-navbar > ul > li:hover > a {
  color: #ffffff;
}
.hfc-navbar > ul > li.menu-item-has-children > a {
  padding-right: 0px;
}
.hfc-navbar > ul > li.menu-item-has-children > a:after {
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
text-decoration: inherit;
display:inline-block;
margin-left:6px;
}
.hfc-navbar ul ul {
  position: absolute;
  left: -9999px;
}
.hfc-navbar.align-right ul ul {
  text-align: right;
}
.hfc-navbar ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
.hfc-navbar li:hover > ul {
  left: auto;
}
.hfc-navbar.align-right li:hover > ul {
  left: auto;
  right: 0;
}
.hfc-navbar li:hover > ul > li {
  height: 35px;
}
.hfc-navbar ul ul ul {
  margin-left: 100%;
  top: 0;
}
.hfc-navbar.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
.hfc-navbar ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  width: 170px;
  font-size: 14px;
  padding:11px 12px;
  line-height:1.6;
  text-decoration: none;
  color: #dddddd;
  font-weight: 400;
  background: #333333;
}
.hfc-navbar ul ul li:last-child > a,
.hfc-navbar ul ul li.last-item > a {
  border-bottom: 0;
}
.hfc-navbar ul ul li:hover > a,
.hfc-navbar ul ul li a:hover {
  color: #ffffff;
}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  .hfc-navbar {
    width: 100%;
  }
  .hfc-navbar ul {
    width: 100%;
    display: none;
  }
  .hfc-navbar.align-center > ul {
    text-align: left;
  }
  .hfc-navbar ul li {
    width: 100%;
  }
  .hfc-navbar ul ul li,
  .hfc-navbar li:hover > ul > li {
    height: auto;
  }
  .hfc-navbar ul li a,
  .hfc-navbar ul ul li a {
    width: 100%;
    border-bottom: 0;
  }
  .hfc-navbar > ul > li {
    float: none;
  }
  .hfc-navbar ul ul li a {
    padding-left: 25px;
  }
  .hfc-navbar ul ul ul li a {
    padding-left: 35px;
  }
  .hfc-navbar ul ul li a {
    color: #dddddd;
    background: none;
  }
  .hfc-navbar ul ul li:hover > a,
  .hfc-navbar ul ul li.active > a {
    color: #ffffff;
  }
  .hfc-navbar ul ul,
  .hfc-navbar ul ul ul,
  .hfc-navbar.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }
  .hfc-navbar > ul > li.menu-item-has-children > a:after,
  .hfc-navbar > ul > li.menu-item-has-children > a:before,
  .hfc-navbar ul ul > li.menu-item-has-children > a:after,
  .hfc-navbar ul ul > li.menu-item-has-children > a:before {
    display: none;
  }
  .hfc-navbar #menu-button {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    display: block;
    padding: 10px;
    color: #ffffff;
    cursor: pointer;
    font-size: 21px;	
    display: block;
    margin: 0px auto;
    text-align: center;
    /* float: right; */	
  }  
  .hfc-navbar #menu-button.menu-opened {
  z-index:10;
  }  
  .hfc-navbar #menu-button.menu-opened:after {
    top: 23px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .hfc-navbar #menu-button.menu-opened:before {
    top: 23px;
    background: #ffffff;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .hfc-navbar .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    height: 41px;
    width: 45px;	
    cursor: pointer;
  }
  .hfc-navbar .submenu-button.submenu-opened {
    background: #262626;
  }
  .hfc-navbar ul ul .submenu-button {
    height: 34px;
    width: 34px;
	content:"&#9776;";
  }
  .hfc-navbar .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
  }
  .hfc-navbar ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }
  .hfc-navbar .submenu-button.submenu-opened:after {
    background: #ffffff;
  }
  .hfc-navbar .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
  }
  .hfc-navbar ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }
  .hfc-navbar .submenu-button.submenu-opened:before {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
	.hfc-nav-menu-top.open {
    display: block;
    position: fixed;
    width: 100%;	
    top: 0;
    left: 0;
    height: 100vh;
	padding-top:16%;
	}
}